.sponsor-card {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center; 
    gap: 5rem;
    flex-direction: column;

    img {
        max-width: 100%;
        object-fit: cover;
        box-shadow: 0 0 1rem white;
      }
      margin-bottom: 3rem;
    }